<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/login.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    {{>headlinks}}

</head>
<body>
    {{>navbar}}
    <div class="login-container">
        <div class="login-header">
            <h1>Forgate Password </h1>
        </div>
        {{!-- <form class="loginForm" action="/user/verify" method="POST">
            
            <div class="input-group">
                <label for="mobile">Mobile Number</label>
                <input type="text" id="mobile" value="+91 " name="mobile" placeholder="Enter your 10-digit mobile number" required>
                <i class="fas fa-mobile-alt "></i>
            </div>
            
            <button id="login-btn" type="submit">Send Otp<i class="fas fa-arrow-right"></i></button>
            <a class="forgot-password" href="/user/login">Already have an account?</a>
        </form> --}}

        <form class="loginForm" action="/user/recovery" method="POST">
    <div class="input-group">
        <label for="mobile">Mobile Number</label>
        <input type="text" id="mobile" name="mobile" placeholder="Enter your 10-digit mobile number" required>
        {{!-- <i class="fas fa-mobile-alt"></i> --}}
    </div>
    <button id="login-btn" type="submit">Next<i class="fas fa-arrow-right"></i></button>
</form>

    </div>
    {{>footer}}

    <script src="/js/forgatePass.js"></script>
    <script src="/js/navbar.js"></script>

</body>

</html>
