<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/login.css">
    {{>headlinks}}
    <link rel="stylesheet" href="/css/recovery.css">

</head>
<body>
{{>navbar}}
    <div class="login-container">
        <div id="login-head">
        <h1>Your Recovery Key</h1>
        </div>
        <form id="loginForm" action="/user/verify-recovery" method="POST">
        
        {{#if message}}
            <div class="alert alert-info">
                {{ message }}
            </div>
        {{else}}
            <p>यह आपकी रिकवरी की है, इसे सुरक्षित रखें। अपना खाता पुनः प्राप्त करने के लिए आपको इसकी आवश्यकता होगी।</p>
        {{/if}}
        
        <div class="recoveryKey-container">
            <div id="recoKey">
                <input type="text" name="recoveryKeys" id="recoveryKeyLink" value="{{ recoveryKeys }}" readonly>
                <input type="hidden" name="mobile" value="{{ mobile }}">
            </div>
            
            <div id="copyRecoveryKey" class="recoveryKey-copy-btn">
                <i class="fas fa-copy"></i>
            </div>
                
        </div>
        <div id="copyMessage" class="copy-message">कोड कॉपी किया गया!</div>
        <button id="login-btn" type="submit">आगे बढ़ें <i class="fas fa-arrow-right"></i></button>
        
        </form>
        <p><strong id="recovryKeyTags">नोट: </strong><span id="recovryKeyTag">अपनी रिकवरी की को सुरक्षित स्थान पर सहेजें—इसके बिना, आप अपना पासवर्ड रीसेट या अपना खाता रिकवर नहीं कर पाएंगे।</span> </p>
    </div>
    
    <script src="/js/navbar.js"></script> 

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            
    const copyBtn = document.getElementById('copyRecoveryKey');
    const refLink = document.getElementById('recoveryKeyLink');
    const copyMessage = document.getElementById('copyMessage');
    copyBtn.addEventListener('click', async function() {
        try {
            await navigator.clipboard.writeText(refLink.value);
            copyMessage.style.display = 'block';
            copyBtn.style.background = '#00FF00';
            
            setTimeout(() => {
                copyMessage.style.display = 'none';
                copyBtn.style.background = '#FFCC00';
            }, 2000);
        } catch (err) {
            console.error('Failed to copy text: ', err);
        }
    });
});
    </script>
    

</body>
</html>