<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/login.css">
    {{>headlinks}}


</head>
<body>
    {{>navbar}}
    <div class="login-container">
        <div id="login-head">
        <h1 > Set Password</h1>
        </div>
        <form class="loginForm" action="/user/login" method="POST">
        {{!-- <p>set your password </p> --}}
        {{!-- <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="set your password" required>
        
        <label for="confirm-password">Confirm Password</label>
        <input type="password" id="confirmPassword" name="confirmPassword" placeholder="re-enter your password" required> --}}
        <div class="input-group">
    <label for="password">Password</label>
    <input type="password" id="password" name="password" placeholder="Enter your password" required>
    <i class="fa fa-lock"></i> <!-- Lock icon -->
</div>

<div class="input-group">
    <label for="confirmPassword">Confirm Password</label>
    <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Re-enter your password" required>
    <i class="fa fa-key"></i> <!-- Lock icon -->
</div>
        <button id="login-btn" type="submit" id="passwordBtn">Submit <i class="fas fa-paper-plane"></i></button>
    </form>
    </div>
    {{>footer}}

    <script src="/js/otp.js"></script>
    <script src="/js/navbar.js"></script>

</body>
</html>