
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Account</title>
    <link rel="stylesheet" href="/css/myAccount.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/ref-bonus.css">
    {{>headlinks}}


</head>
<body>
{{>navbar}}
    {{!-- {{>profilelink}} --}}
    {{>myaccount}}
    
    {{>footer}}


    <script src="/js/myAccount.js"></script>
    <script src="/js/signup.js"></script>

    <script src="/js/navbar.js"></script>
    

</body>
</html>
