<!-- betting ui container -->
<div class="game-box">
    
    <!-- gamebox heading -->
    <div class="gamebox-heading">
    <p> Enter Your Lucky Number! </p>
    </div>

    <!-- all numbers-1 to 9 -->
    <div class="number-pad">
        <button class="box" id="boxOne">1</button>
        <button class="box" id="boxTwo">2</button>
        <button class="box" id="boxThree">3</button>
        <button class="box" id="boxFour">4</button>
        <button class="box" id="boxFive">5</button>
        <button class="box" id="boxSix">6</button>
        <button class="box" id="boxSeven">7</button>
        <button class="box" id="boxEight">8</button>
        <button class="box" id="boxNine">9</button>
    </div>
</div>

<!-- container for user input of betting numbers -->
<div class="user-input">
    <h4 id="text-box1"></h4>
    <button  id="remove">X</button>
</div>

<!-- betting ammount box -->
<div class="bet-ammount-box" >
    <button class="plus" id="low">-</button>
    <h4 id="bet-amount">10 INR</h4>
    <button class="plus" id="high">+</button>
</div>

<!-- final betting submit button -->
<div id="user-input-submit" >
    <p id="submit" type="submit">Confirm</p>
</div>