<!-- Responsive Navigation Bar -->
<nav class="navBar">
    <!-- Logo -->
    <div class="topNavBar">
        <img class="logo-top" src="/img/bolrik big logo.png" alt="Bolrin">
        {{!-- <p class="logo-top">LOGO</p> --}}
    </div>

    <!-- Mobile Menu Toggle Button -->
    <div class="menu-toggle" id="menu-toggle">
        <i class="fas fa-bars"></i>
    </div>

    <!-- Main Navigation Links -->
    <div class="main-links" id="nav-links">
        <!-- Close Button for Mobile Menu -->
        <span class="close-menu" id="close-menu">&times;</span>

        {{#if user}}
        <div class="dblinks" data-user-id="{{user._id}}">
            <p class="welcome-text">Welcome, {{user.fullname}}! <span><i class="fas fa-wallet"></i></span> </p>
            <p class="balance-text">Available Balance: <span id="left-bal" class="Left-balance" ><strong>{{user.balance.0.pending}} ₹</strong></span></p>
        </div>
        <div class="navsitelinks">
            <a class="user-top-links" href="/" id="home-link">Home</a>
            <a class="user-top-links logout-btn" href="/user/profile">Profile</a>
            
            <a class="user-top-links" href="/user/deposit" id="deposit-link">Deposit</a>
            <a class="user-top-links logout-btn" href="/user/withdraw">withdraw</a>
            <a class="user-top-links logout-btn" href="/user/logout">Logout</a>
        </div>
        {{else}}
        <div class="dblinks">
            <p class="welcome-text">Let's Begin</p>
        </div>
        <div class="navsitelinks">
            <a class="user-top-links" href="/" id="home-link">Home</a>
            <a class="user-top-links" href="/user/login" id="login-link">Login</a>
            <a class="user-top-links register-btn" href="/user/register" id="register-link">Register</a>
        </div>
        {{/if}}
    </div>
</nav>
