<div id="user-profile">
    {{#if user.balance}}
    <div id="user-ui">
        <div id="user-balance"> 
            <a id="user-name" class="links-users">Balance</a>
            <a id="left-balances" class="Left-balance links-users">
                {{user.balance.pending}} &#8377;
            </a>
        </div>

        <div id="user-btn">
            <a id="deposit-btn" class="user-button" href="/user/deposit">Deposit</a>
            <a id="withdraw-btn" class="user-button" href="/user/withdraw">Withdraw</a>
        </div>
    </div>

    <div id="user-links">
        <a id="rules" class="links-user" href="#">Rules</a>
        <a id="history-btn" class="links-user" href="/history">History</a>
        <a id="ref-btn" class="links-user" href="#">ref.link</a>
        <a id="user-profile-link" class="links-user" href="/user/profile">Profile</a>
        <a id="user-logout" class="links-user" href="/user/logout">Logout</a>
    </div>

    {{else}}
    <div id="user-ui">
        <div id="user-balance"> 
            <a id="user-name" class="links-users">get started</a>
            <a class="Left-balance links-users">login</a>
        </div>

        <div id="user-btn">
            <a id="deposit-btn" class="user-button" href="/user/login">Deposit</a>
            <a id="withdraw-btn" class="user-button" href="/user/login">Withdraw</a>
        </div>
    </div>

    <div id="user-links">
        <a id="rules" class="links-user" href="#">Rules</a>
        <a id="history-btn" class="links-user" href="/user/login">History</a>
        <a id="ref-btn" class="links-user" href="/user/login">ref.link</a>
        <a id="user-register" class="links-user" href="/user/register">Register</a>
        <a id="user-login" class="links-user" href="/user/login">Login</a>
    </div>
    {{/if}}
</div>
